<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New product</title>
</head>
<body>

<form th:method="POST" th:action="@{/products}" th:object="${product}">
    <label for="name"> Name product</label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: blueviolet" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name</div>
    <br>
    <label for="description">Description product</label>
    <input type="text" th:field="*{description}" id="description">
    <div style="color: blueviolet" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description</div>
    <br>
    <label for="pathImg">Path image</label>
    <input type="text" th:field="*{pathImg}" id="pathImg">
    <div style="color: blueviolet" th:if="${#fields.hasErrors('pathImg')}" th:errors="*{pathImg}">Path</div>
    <br>
    <label for="price">Price product</label>
    <input type="text" th:field="*{price}" id="price">
    <div style="color: blueviolet" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price</div>
    <br>

    <input type="submit" value="Create!">
</form>



</body>
</html>