<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Products</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
<div class="container-lg">
    <div class="container">

        <div class="sideba" layout:fragment="sidebar">
            <a th:text="${product.getName()} + ', ' + ${product.getDescription()} + ', ' + ${product.getPrice()}">value</a>
            <br>
            <hr>
            <div>
                <form th:method="GET" th:action="@{/card/{id}/addCard(id=${product.getId()})}">
                    <input class="btn btn-primary" type="submit" value="Добавить товар в корзину">
                </form>
            </div>
            <br>
            <hr>
            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <form th:method="GET" th:action="@{/products/{id}/edit(id=${product.getId()})}">
                    <input class="btn btn-primary" type="submit" value="Редактировать">
                </form>
            </div>
            <br>
            <hr>
            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <form th:method="DELETE" th:action="@{/products/{id}(id=${product.getId()})}">
                    <input class="btn btn-primary" type="submit" value="Удалить">
                </form>
            </div>
            <br>
            <a class="btn btn-primary" href="/products">Вернуться к списку товаров</a>
        </div>
    </div>
</div>
</body>
</html>